.box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conter {
  border-radius: 10px;
  width: 850px;
  height: 650px;
  background: #ffffff;
  display: flex;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.leftBox {
  display: flex;
  .leftBoxL {
    background-color: rgb(247, 247, 247);
    flex: 1;
    border-right: 1px solid #eeeeee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0 15px;
    padding-bottom: 10px;
    .leftTop {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      .leftImg {
        border-radius: 5px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
      }
      .link {
        width: 50px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        line-height: 50px;
        color: #9f9d99;
      }
      .activeLink {
        width: 50px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        line-height: 50px;
        color: lightskyblue;
      }
    }
  }
  .leftBoxR {
    padding: 20px 10px;

    border-right: #dbd6d6 1px solid;
    width: 150px;
    box-sizing: content-box;
  }
}
.chatList {
  overflow: hidden;
  height: 100%;
  // background:red;
  overflow-y: auto;
  .boxItem {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }
    font-size: 14px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
/* 自定义整个滚动条 */
.chatList::-webkit-scrollbar {
  width: 2px; /* 设置滚动条的宽度 */
}

/* 自定义滚动条轨道 */
.chatList::-webkit-scrollbar-track {
  background: #f1f1f1; /* 设置轨道的背景颜色 */
}

/* 自定义滚动条的滑块（thumb） */
.chatList::-webkit-scrollbar-thumb {
  background: #888; /* 设置滑块的背景颜色 */
}
