.flexSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;

  img {
    width: 100%;
    height: 100%;
  }
}

.tabsH {
  height: 40px;
  background: #fff;
}

.pad16 {
  padding: 0 16px;
}

.ant-dropdown-trigger {
  margin-right: 2px;
}

.flex {
  display: flex;
}

.w37 {
  width: 40px;
}

.h37 {
  height: 40px;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.bb {
  border-bottom: 1px solid #eee;
}

.navRight {
  > div {
    border-right: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > div:nth-child(1) {
    border-left: 1px solid #d9d9d9;
  }
}

.ant-layout-header {
  height: 75px;
}

.rotate {
  animation: rotate 0.8s ease forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.matop10 {
  margin-top: 10px;
}
.ant-space-item {
  width: 100%;
}
.ant-upload-wrapper.avatar-uploader,
.ant-upload.ant-upload-select {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 100%;
    width: 100%;
  }
}
.ant-modal {
  width: auto !important;
}

.matop10 {
  margin-top: 10px;
}

.ant-upload {
  width: 250px;
  height: 170px;
}

.ant-upload-select {
  width: 250px !important;
  height: 170px !important;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.FormInline {
  margin-bottom: 15px;

  .ant-form {
    display: flex;
    align-items: center;
  }

  .ant-input {
    width: 250px;
  }
  .ant-btn {
    margin-right: 10px;
  }
}

.ant-table-cell {
  text-align: center;
}
